
  <header class="relative bg-transparent">
    <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div >

                <!--
                  'Men' flyout menu, show/hide based on flyout menu state.

                  Entering: "transition ease-out duration-200"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition ease-in duration-150"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="absolute inset-x-0 top-full text-sm text-gray-200">
                  <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->

                  <div class="relative bg-transparent">
                    <div class="mx-auto max-w-7xl px-8">
                      <div class="grid grid-cols-2 gap-x-8 gap-y-10 py-16 max-lg:grid-cols-1">

                        <div class="row-start-1 grid grid-cols-3 gap-x-8 gap-y-10 text-sm">
                          <div>
                            <p id="Clothing-heading" class="font-medium text-gray-50">Clothing</p>
                            <ul role="list" aria-labelledby="Clothing-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Tops</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Pants</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Sweaters</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">T-Shirts</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Jackets</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Activewear</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Browse All</a>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <p id="Accessories-heading" class="font-medium text-gray-50">Accessories</p>
                            <ul role="list" aria-labelledby="Accessories-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Watches</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Wallets</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Bags</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Sunglasses</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Hats</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Belts</a>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <p id="Brands-heading" class="font-medium text-gray-50">Brands</p>
                            <ul role="list" aria-labelledby="Brands-heading" class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Re-Arranged</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Counterfeit</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">Full Nelson</a>
                              </li>
                              <li class="flex">
                                <a href="#" class="hover:text-gray-400">My Way</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    </nav>
  </header>
