<app-navigation></app-navigation>
<main>
  <div class="img-writing-container">
    <div>
      <h1>Get More Done with <br>
        Avenu</h1>
      <p>Ads management software that enables you  to plan, analyze and automate<br> your campaigns</p>
      <button style="margin-top: 70px; ">Try Avenu Now</button>
    </div>
    <img src="assets/img/old%20asian%20guy.jpeg">
  </div>



  <div class="img-writing-container" style="margin-bottom: 130px">
    <div >
      <h1 style="color: black">Ads Management</h1>
      <p style="color: black">Images, videos, PDFs and audio files are supported.<br>
        <br>
        Create math expressions and diagrams directly from the app.<br>
        <br>
         Take photos with the mobile app and save them to a note.
      </p>
      <button style="margin-top: 60px; ">Get Started</button>
    </div>
    <img src="assets/img/Woman%20on%20a%20pc.jpeg">
  </div>


  <div class="img-writing-container">
    <div class="circles-container">
      <img style="border: none; height: 60%; transform: translateY(-50%)" src="assets/img/circles.png">
      <img style="height: 150px; border: none; position: absolute; transform: translateX(6%); border-radius: 10px; box-shadow: 0 0 15px 4px rgba(0,0,0,0.29)" src="assets/img/White%20(1).png">
    </div>
    <div>
      <h1 style="color: black">Grow Together</h1>
      <p style="color: black">Ads management software that enables you  to plan, analyze and automate<br> your campaigns</p>
      <button style="margin-top: 70px; ">Try It Now</button>
    </div>
  </div>


  <div class="img-writing-container" style="margin-bottom: 130px">
    <div>
      <h1 style="color: black">Customise it to<br>
        your needs</h1>
      <p style="color: black">Customise the app with plugins, custom themes and multiple text editors (Rich Text<br>
        <br>
        or Markdown). Or create your own scripts and plugins using the Extension API.
      </p>
      <button style="margin-top: 60px; ">Let's Go</button>
    </div>
    <img src="assets/img/a%20man%20wearing%20glasses.jpeg">
  </div>


  <div class="plan-writing-container">
    <h1>Choose Your Plan</h1>
    <p> Whether you want to get organized, keep your personal life on track, or boost workplace productivity,
      Evernote has the  <br>right plan for you.</p>
  </div>

  <div style="display: grid; place-content: center; margin-top: 80px">

  <div class="plan-container">
    <div class="secondary-plan">
      <img src="assets/img/left%20seondary%20plan.png">
      <button>Get Now</button>
    </div>

    <div class="primary-plan">
      <img src="assets/img/primary%20plan.png">
      <button>Get Now</button>
    </div>

    <div class="secondary-plan">
      <img src="assets/img/right%20secondary%20plan.png">
      <button style="margin-top: 80px">Get Now</button>
    </div>
  </div>
  </div>

  <img src="assets/img/blaka%20zar9a.png" style="display: inline-block; width: 100%; margin-top: 300px">

  <div class="img-writing-container" style="margin-top: 130px; margin-bottom: 160px; margin-left: 50px">
    <div>
      <h1 style="color: black">100% Your Data <br>
        your needs</h1>
      <p style="color: black">The app is open source and your data are saved to an open format, so you'll <br><br>always have access

        to them. Uses End-To-End Encryption (E2EE) to secure <br><br>your informations
        and ensure no-one but yourself can access them.
      </p>
      <button style="margin-top: 60px; ">Lean more</button>
    </div>
    <img src="assets/img/decore.png" style="border: none">
  </div>


  <h2 style="text-align: center; font-size: 62px">Our Partners</h2>

  <div class="sponsors">
    <img src="assets/logos/banque-centrale-op-capital.jpg" class="sponsor-logo">
    <img src="assets/logos/nabeul-info-banque-attijari.png" class="sponsor-logo">
    <img src="assets/logos/642ebe5948d9b601f65a33c1_Full%20logo.png" class="sponsor-logo">
  </div>

  <div style="background-color: #0658F6; width: 100%; overflow: hidden; height: 400px">
    <app-footer></app-footer>
  </div>
</main>
